html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
   color: #24d800;
}

/*Бургер меню*/

.burger-menu{
    display: none;
}

.burger-menu{
    display: none;
}

.burger-menu_button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 101;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_lines {
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {

    content: '';
    top: -12px;
}

.burger-menu_lines::after {
    width: 20px;
    content: '';
    top: 12px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after{
    width: 35px;
    top: 0;
    transform: rotate(-45deg);
}

#border{
    border-top: 2px solid white;
}

.burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 50;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: #042348;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_link {
    text-align: center;
    padding: 20px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #ffffff;
    transition: 0.4s;
}

.burger-menu_link:hover {
    color: cornflowerblue;
    filter: brightness(0.9);
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}



/*Шапка сайта*/

.container{
    font-family: arial,sans-serif;
    position: absolute;
    /* background-color: #042348; */
	width: 100%;
	height: 80px;
    z-index: 100;
}

header{
    font-size: 17px;
    height: 80px;
	color: white;
	display: flex;
	justify-content:end;
	align-items: center;
	padding: 0px 5%;

}

/* .logo{
    width: 55px;
    height: 55px;
} */

.nav_link{
	list-style: none;
}

.nav_link li{
    padding:0px 15px;
	display: inline-block;
}

.text a{
    font-size: 18px;
	text-decoration: none;
	color: black;
	transition: all 0.3s ease;
}

.text a:hover{
    color: rgb(165, 0, 0);
}

.knopka a{
    font-size: 18px;
    font-family: arial,sans-serif;
    padding:7px 20px;
    text-decoration: none;
    border-radius: 20px;
    background: #B0A11A;
    color: white;
    transition: 0.5s ease;
}

.knopka a:hover{
    box-shadow: 0px 0px 10px 0px #00e1ff, 0px 0px 20px 0px #00e1ff;
    color:#ffffff;
    background: rgb(0, 136, 199);
}


.fon{
    width: 100%;
    background-color: rgb(255, 224, 99);
}

.container5{
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

.pod_block_img{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 120px;
    width: 400px;
    height: 400px;
    border-radius:100px;
}
.pod_block_img:hover{
    transform: scale(1.1);
}
.pod_fon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pod_fon h3{
    font-family: arial;
    padding-top: 0px;
    font-size: 60px;
}


.pod_fon p{
    font-family: arial;
    margin-top: -50px;
    font-size: 20px;
}


.pod_fon span{
    line-height: 30px;
    padding-top: 50px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
}


.pod_fon h4{
    line-height: 30px;
    padding-top: 80px;
    text-align: center;
    font-family: arial;
    margin-top: 50px;
    font-size: 15px;
}

.p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.icons{
    padding-top: 50px;
    padding-bottom: 100px;
    /* display: flex; */
}

i{
    margin: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
    font-size: 60px;
}

i:hover{
    box-shadow: 0px 0px 10px 0px rgb(206, 65, 0), 0px 0px 20px 0px rgb(206, 65, 0);
    color:white;
    background: rgb(206, 65, 0);
}


/*footer*/

footer{
    background-color: #042348;
    height: 80px;
}

.footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    line-height: 22px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;

}










@media (max-width: 991px){

.burger-menu{
    display: block;
}

.nav_link{
    display: none;
}

}


@media (max-width: 790px){

.pod_fon h3{
    font-family: arial;
    padding-top: 0px;
    font-size: 45px;
}
.pod_fon p{
    font-family: arial;
    margin-top: -40px;
    font-size: 20px;
}
.pod_fon span{
    line-height: 30px;
    padding-top: 50px;
    text-align: center;
    font-family: arial;
    font-size: 18px;
}
}


@media (max-width: 690px){
.pod_fon p{
    font-family: arial;
    margin-top: -20px;
    font-size: 20px;
}
.pod_fon h3{
    font-family: arial;
    padding-top: 0px;
    font-size:35px;
}
}


@media (max-width: 506px){
.container5{
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}
.pod_fon p{
    font-family: arial;
    margin-top: -10px;
    font-size: 18px;
}
.pod_fon h3{
    font-family: arial;
    padding-top: 0px;
    font-size:30px;
}
}


@media (max-width: 424px){
.container5{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.pod_fon p{
    font-family: arial;
    margin-top: 0px;
    font-size: 18px;
}
.pod_fon h3{
    font-family: arial;
    padding-top: 0px;
    font-size:23px;
}

.pod_block_img{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 120px;
    width: 300px;
    height: 300px;
    border-radius:100px;
}
}